interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.themoviedb.org/3/search/movie?query=Star+wars+1&api_key=4db22fd9f7e134e2440cb372ae452a44&page=1&language=en-US
  response:
    body: {string: !!python/unicode '{"page":1,"total_results":9,"total_pages":1,"results":[{"vote_count":5029,"id":1893,"video":false,"vote_average":6.4,"title":"Star
        Wars: Episode I - The Phantom Menace","popularity":25.048395,"poster_path":"\/n8V09dDc02KsSN6Q4hC2BX6hN8X.jpg","original_language":"en","original_title":"Star
        Wars: Episode I - The Phantom Menace","genre_ids":[12,28,878],"backdrop_path":"\/wdp4unWJWY9hGKN1tM56HeSt6PZ.jpg","adult":false,"overview":"Anakin
        Skywalker, a young slave strong with the Force, is discovered on Tatooine.
        Meanwhile, the evil Sith have returned, enacting their plot for revenge against
        the Jedi.","release_date":"1999-05-19"},{"vote_count":5807,"id":330459,"video":false,"vote_average":7.4,"title":"Rogue
        One: A Star Wars Story","popularity":39.503105,"poster_path":"\/qjiskwlV1qQzRCjpV0cL9pEMF9a.jpg","original_language":"en","original_title":"Rogue
        One: A Star Wars Story","genre_ids":[28,12,878],"backdrop_path":"\/tZjVVIYXACV4IIIhXeIM59ytqwS.jpg","adult":false,"overview":"A
        rogue band of resistance fighters unite for a mission to steal the Death Star
        plans and bring a new hope to the galaxy.","release_date":"2016-12-14"},{"vote_count":30,"id":333355,"video":true,"vote_average"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.themoviedb.org/3/movie/1893/videos?api_key=4db22fd9f7e134e2440cb372ae452a44&language=en-US
  response:
    body: {string: !!python/unicode '{"id":1893,"results":[{"id":"533ec65ac3a3685448000a24","iso_639_1":"en","iso_3166_1":"US","key":"bD7bpG-zDJQ","name":"Trailer
        1","site":"YouTube","size":720,"type":"Trailer"},{"id":"533ec65ac3a3685448000a25","iso_639_1":"en","iso_3166_1":"US","key":"UgDhFgSTPIw","name":"Trailer
        2","site":"YouTube","size":720,"type":"Trailer"},{"id":"58b5e74792514125e4000028","iso_639_1":"en","iso_3166_1":"US","key":"dZolO0z6EOs","name":"Trailer","site":"YouTube","size":360,"type":"Trailer"},{"id":"58b5e75a9251416129002932","iso_639_1":"en","iso_3166_1":"US","key":"_bRNF0daxp8","name":"Teaser","site":"YouTube","size":360,"type":"Teaser"}]}'}
    headers:
      content-type: [application/json;charset=utf-8]
      etag: ['"d6dae3ba0cc7d7f9fbf46aa40e286933"']
      x-memc: [HIT]
      x-memc-age: ['11750']
      x-memc-expires: ['17050']
      x-memc-key: [d6c8418f2fc5ebe1d095fd25ce5b2dd2]
      x-ratelimit-limit: ['40']
      x-ratelimit-remaining: ['39']
      x-ratelimit-reset: ['1513892779']
    status: {code: 200, message: OK}
version: 1
