interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.themoviedb.org/3/search/movie?query=Xquedele&api_key=4db22fd9f7e134e2440cb372ae452a44&page=1&language=en-US
  response:
    body: {string: !!python/unicode '{"page":1,"total_results":0,"total_pages":1,"results":[]}'}
    headers:
      content-type: [application/json;charset=utf-8]
      etag: [72b32a1f754ba1c09b3695e0cb6cde7f]
      x-ratelimit-limit: ['40']
      x-ratelimit-remaining: ['38']
      x-ratelimit-reset: ['1513892779']
    status: {code: 200, message: OK}
version: 1
